@model F1_World.Models.Season

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Season</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampionPilot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampionPilot.PilotId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampionTeamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampionTeamId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampionTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampionTeam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SeasonId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
